[submodule "QNICE"]
	path = M2M/QNICE
	url = https://github.com/sy2002/QNICE-FPGA
[submodule "CORE/Minimig_MiSTerMEGA65"]
	path = CORE/Minimig_MiSTerMEGA65
	url = https://github.com/MiSTer-devel/Minimig-AGA_MiSTer.git
